.card {
  position: fixed;
  padding: 1rem 3rem;
  padding-top: 5rem;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgb(209 232 255);

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow-y: scroll;
}

.close-card {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  color: var(--danger);
}

.card-item {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  align-items: center;
  border-top: 1px solid black;
  /* border-top: 1px solid black; */
  /* justify-content: space-between; */
}
.card-item:first-of-type {
  border-top: none;
}

.card-image-wrapper {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 4rem;
}
.card-image-wrapper img {
  width: 100%;
}

.card-title-price {
  flex: 60%;
}
.card-title {
  font-weight: 500;
  font-size: 1.3rem;
}
.card-btns {
  position: relative;
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 20%; */
}

.empty-card {
  text-align: center;
  padding: 2rem;
}
.plus,
.minus {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-icon,
.minus-icon {
  font-size: 1.3rem;
  color: black;
}
.count {
  font-size: 1.2rem;
  font-family: sans-serif;
  border: 2px solid black;
  border-radius: var(--borderRadius);
  padding: 5px 8px;
  text-align: center;
}

.card__remove {
  position: absolute;
  right: -1.8rem;
  top: 1.5rem;
  background-color: transparent;
  border: none;
  color: var(--danger);
  font-size: 1.5rem;
}

.total-price {
  margin: 3rem 0;
}
.total-price h2 {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 900;
  background-color: var(--success);
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.total-price h2 span {
  color: var(--accent-1);
  letter-spacing: 1px;
  font-size: 1.5rem;
}
